body {
  margin: 0;
  background: #0D0D0D;
  font-family: Arial, sans-serif;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #1A1A1A;
}

.logo {
  height: 70px;
}

nav a {
  color: #b19cff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 200px 20px;
  background: url('background.jpg') no-repeat center/cover;
}
